body {
    min-height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(30deg, #1a193c60 10%, #0a047680 20%,  #00e1ff82 80%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Courier New, monospace;
    Color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: top;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 4vh;
    
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container p {
    color: #ffffff;
}
.container img {
    max-width: 40%;
    height: auto;
}
.link-text {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace, serif;
  
  }
  a:link {
    color: #ffffff;
    text-decoration: none;
  }
  a:visited {
    color: #ffffff6d;
  }
  a:hover {
    color:  #8a1c1c;
  }
  .top-nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 15px 25px;
    color: #ffffff;
  }
  .nav-links {
    font-family: 'Courier New', Courier, monospace, serif;
    display: flex;
    gap: 20px;
  }
  .nav-links a {
    text-decoration: none;
  }
   .footer p {
        color: #ffffff;
        font-family: 'Courier New', Courier, monospace, serif;
        font-size: 0.83rem;
        text-align: center;
        padding: 50px;
    }
  .lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: zoom-out;
}

.lightbox-overlay.active {
    display: flex;
}

.lightbox-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}